.el-table {
    .el-table__empty-block {
        .el-table__empty-text {
            display: block;
            line-height: 45px;
        }

        ::after {
            // content: '应用归属单位：杭州市滨江区人民政府长河街道办事处      应用管理员：冯真     联系方式：13868003698';
            // content: '应用归属单位：杭州市滨江区人民政府西兴街道办事处      应用管理员：来立成     联系方式：15355428458';
            // content: '应用归属单位：杭州市上城区委组织部      应用管理员：俞亮     联系方式：15957140132';
            // content: '应用归属单位：杭州市拱墅区人民政府拱宸桥街道办事处      应用管理员：陈杭     联系方式：18857189590';
            white-space: pre;
            display: block
        }
    }
}
